@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index - Översikt Fordon</h2>

<p>
    @Html.ActionLink("Skapa nytt fordon", "Create")
</p>
<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(model => model.Members)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TotalTime)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Parked)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Members)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.TotalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parked)
        </td>*@
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kör Ut", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
