@*@model IEnumerable<Garage2.Models.Vehicle>*@

@model IPagedList<Vehicle>

<div id="searchList">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Parked)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parked)
                </td>
                @*<td>
                        @Html.ActionLink("Check-ut", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Editera", "Edit", new { id = item.Id })
                    </td>*@
            </tr>
        }
    </table>
</div>

<div class="pagedList col-md-12">
    @Html.ActionLink("Tillbaka till översikt", "Index")
</div>

