@*@model IEnumerable<Garage2.Models.Vehicle>*@

@model IPagedList<Vehicle>

@{
    ViewBag.Title = "Översikt";
}

<div class="col-md-12">
    <h3>Garage 2.0 - Register</h3>
</div>


<br />
<div class="col-md-6">
    <h5>
        @Html.ActionLink("Parkera fordon", "CheckIn")
    </h5>
</div>

<div class="col-md-6">

    <form method="get"
          action="@Url.Action("Index")"
          data-tomas-ajax="true"
          data-tomas-target="#searchList">

        <input id="inputRegister1"
               class="form-control"
               type="search"
               name="searchTerm"
               placeholder="Sök registreringsnummer"
               data-tomas-autocomplete="@Url.Action("Autocomplete")" />
    </form>
</div>

<div id="searchList">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Fordonstyp", "Index", new { sorting = ViewBag.SortByVehicleType })
            </th>
            <th>
                @Html.ActionLink("RegNummer", "Index", new { sorting = ViewBag.SortByRegNr })
            </th>
            <th>
                @Html.ActionLink("Parkering påbörjad", "Index", new { sorting = ViewBag.SortByStartTime })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Parked)
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3">
                    Registrering nummer ej funnen
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parked)
                    </td>
                    <td>
                        @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                        @*@Html.ActionLink("Ändra", "Edit", new { id=item.Id }) |*@
                        @Html.ActionLink("Kör ut fordon", "CheckOut", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
    <br/>
    <div class="col-md-12">
        @{
            if (Request.QueryString["searchTerm"] != null)
            {
                @Html.ActionLink("TIllbaka till översikt", "Index")
            }
            else
            {
                <div data-tomas-target="#searchList">
                    Sidan @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) av @Model.PageCount

                    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, sorting = ViewBag.CurrentSort }))
                    @*PagedListRenderOptions.PageNumbersOnly)*@
                </div>
            }

        }
    </div>

</div>


